.admin-layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 100;
}

.main-content {
    flex: 1;
    margin-left: 250px; /* ruang buat sidebar */
    padding: 20px;
    background-color: #fff;
}

.admin-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 240px;
    background-color: #fff3e0;
    padding: 20px;
}

.b-card-product:hover {
    transform: translateY(-5px);
}




