  .container_navbarr {
        padding: 8px;
    }

    .header_container_navbar {
      background-color: #5c4033;
      color: #FEF6DF;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.3rem 3rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      position: sticky;
      top: 0;
      z-index: 100;
      border-radius: 12px;
    }
    
    .header_container_navbar h1 {
      font-size: 1.3rem;
      font-weight: 600;
    }

    .header_container_navbar h1 {
        margin-top: 10px;
    }

    nav ul {
      display: flex;
      list-style: none;
      gap: 2rem;
    }

    nav ul{
        margin-top: 12px;
    }

    nav a {
      color: #FEF6DF;
      text-decoration: none;
      font-weight: 500;
      transition: 0.3s;
    }

    nav a:hover {
      color: #f5deb3;
    }