@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles jika diperlukan */
@layer components {
    .btn-primary {
        @apply px-4 py-2 bg-primary-500 text-white rounded-lg font-semibold hover:bg-primary-600 transition;
    }
}
